.addFileForm {
  display: flex;
  align-items: center;
  background-color: var(--vinotintoNight-color);
  padding: 10px;
  font-size: 1.3rem;
  border-radius: 0.5rem;
  gap: 15px;
}

.addFileForm .close {
  width: fit-content;
  background: none;
  border: var(--candyGreen-color) 1px solid;
  border-radius: 50%;
  transition: 200ms;
  padding: 5px;
}

.addFileForm .close svg {
  color: var(--candyGreen-color);
  height: 1.1rem;
  width: 1.1rem;
  cursor: pointer;
}

.addFileForm .close:hover {
  box-shadow: 1px 1px 5px 1px rgb(34, 34, 34);
  background-color: #6d2a4f;
}

.addFileForm input[type="text"] {
  background: none;
  border: var(--candyGreen-color) 1px solid;
  border-radius: 0.5rem;
  height: 35px;
  width: 55%;

  font-family: "Raleway", sans-serif;
  font-size: 1.2rem;
  padding: 0.4rem;
  color: var(--candyGreen-color);
}

.addFileForm input[type="text"]:focus {
  outline: rgb(6, 211, 142) 1px solid;
  border: none;
}

.addFileForm input[type="file"]::-webkit-file-upload-button {
  background: none;
  border: var(--candyGreen-color) 1px solid;
  color: var(--candyGreen-color);
  content: "hello";
  font-size: 1.1rem;
  cursor: pointer;
  border-radius: 0.3rem;
  padding: 5px;
  margin-right: 10px;
}

.addFileForm input[type="file"]::-webkit-file-upload-button:hover {
  color: rgb(6, 211, 142);
  border-color: rgb(6, 211, 142);
}

.addFileForm input[type="file"] {
  color: white;
  font-style: italic;
}
