.addNote {
  position: fixed;
  display: flex;
  flex-direction: column;
  bottom: 15vh;
  right: 2rem;
  width: 400px;
  height: 200px;
  background-color: blueviolet;
  z-index: 1000;
  outline: red 2px solid;
}
