.app {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient( 178.9deg,  var(--candyPurple-color) 5.1%, rgba(229,113,159,1) 109.3% );
}
