.auth {
  width: 50%;
  background: none;
  display: grid;
  grid-template: 1fr / 1fr 1.3fr;
  box-shadow: 3px 3px 20px 5px rgba(0, 0, 0, 0.664);
}

.logo {
  border: var(--candyGreen-color) 5px dashed;
  background-color: var(--whiteGreen-color);
  font-size: clamp(1rem, 3.5vw, 3.5rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  font-family: "Roboto Condensed", sans-serif;
  color: var(--candyGreen-color);
  letter-spacing: 3px;
  width: 100%;
  gap: 5px;
  max-width: 100%;
}

.logo q {
  font-size: 0.8rem;
}

.logo svg {
  height: 100px;
  width: 110px;
  margin-bottom: 50px;
}

.logo p {
  margin-top: 50px;
}

@media (max-width: 500px) {
  .auth {
    width: 80vw;
    display: flex;
    flex-direction: column;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
  }

  .logo {
    flex-direction: row;
    font-size: 2rem;
    padding: 0;
    width: 100vw;
    padding: 1rem 0;
    border: dashed var(--candyGreen-color) 4px;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 0%;
  }

  .logo p {
    margin-top: 0;
    font-size: 3rem;
    letter-spacing: 5px;
  }

  .logo svg {
    display: none;
  }

  .logo q {
    display: none;
  }
}
