.auth {
  width: 700px;
  height: 450px;
  background: none;
  display: grid;
  grid-template: 1fr / 1fr 1fr;
  box-shadow: 3px 3px 20px 5px rgba(0, 0, 0, 0.664);
}

.logo {
  border:var(--candyGreen-color) 5px dashed;
  background-color: var(--whiteGreen-color);
  font-size: 3.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  font-family: 'Roboto Condensed', sans-serif;
  color: var(--candyGreen-color);
  letter-spacing: 3px;
  height: 450px;
  gap: 5px;
  width: 300px;
}

.logo q{
  font-size: .7rem;
}

.logo svg {
  height: 100px;
  width: 110px;
  margin-bottom: 50px;
}

.logo p {
  margin-top: 50px;
}