.deleteProjectDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 400px;
  gap: 20px;
  font-family: 'Raleway', sans-serif;
  color:var(--vinotintoNight-color);
}

.deleteProjectDiv h1 {
  font-size: 2.3rem;
}

.deleteProjectDiv p {
  font-size: 1.5rem;
}

.deleteProjectDiv button {
  border: var(--candyGreen-color) 2px solid;
  border-radius: 2px;
  color: var(--candyGreen-color);
  font-size: 1rem;
  padding: 5px;
  cursor: pointer;
  background-color: white;
  font-weight: 500;
}

.deleteProjectDiv button:hover {
  color:white;
  background-color: var(--candyGreen-color);
}