@keyframes popUpAnimation {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}


.detailsDiv {
  background-color: var(--whitePink-color);
  border-radius: 3px;
  border:var(--candyPurple-color) 5px dashed;
  color: black;
  width: 450px;
  height: 250px;
  display: flex;
  flex-direction: column;
  z-index: 100;
  font-family: 'Raleway', sans-serif;
  font-size: 1.1rem;
  padding: 15px;
  gap: 10px;
  color:var(--vinotintoNight-color);
  box-shadow: 2px 2px 20px 1px rgb(51, 51, 51);
  animation: popUpAnimation 350ms;
}

.detailsDiv p {
  width: 100%;
}

.detailsDiv span {
  margin-right: 10px;
}

.detailsP {
  display: box;
  overflow-wrap: break-word;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100px;
  line-height: 23px;
}

.exit {
  width: 30px;
  height: 30px;
  position: absolute;
  cursor: pointer;
  align-self: flex-end;
}

.exit:hover {
  color:var(--candyGreen-color);
}




@media (max-width: 500px) {
  .detailsDiv {
    width: 90%;
    height: 300px;
    display: flex;
    flex-direction: column;
    z-index: 100;
    font-family: 'Raleway', sans-serif;
    font-size: 1.1rem;
    padding: 30px 30px 15px 15px;
    color:var(--vinotintoNight-color);
    box-shadow: 2px 2px 20px 1px rgb(51, 51, 51);
  }

  .exit {
    width: 30px;
    height: 30px;
    transform: translate(20px, -20px);
    cursor: pointer;
  }

  .detailsP {
    height: 125px;
    line-height: 23px;
  }
}