.editDiv {
  background-color: var(--whiteGreen-color);
  color: black;
  padding: 15px;
  width: 600px;
  height: 300px;
  z-index: 100;
  border:var(--candyGreen-color) dashed 5px;
  box-shadow: 2px 2px 20px 1px rgb(51, 51, 51);
}

.editForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  font-family: 'Raleway', sans-serif;
}

.bottomItems {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 50px;
}

.dateInput {
  display: flex;
  align-items: center;
  gap: 10px;
}

.priorityInputs {
  display: flex;
  gap: 10px;
  align-items: center;
}

.priorityInputs input[type="radio"] {
  margin-bottom: 7px;
  cursor: pointer;
  margin-right: 10px;
}

.priorityInputs button {
  background-color: var(--whiteGreen-color);
  margin-left: 130px;
  border: var(--candyGreen-color) 2px solid;
  border-radius: 2px;
  color: var(--candyGreen-color);
  font-size: .9rem;
  padding: 5px;
  cursor: pointer;
  font-weight: 500;
}

.priorityInputs button:hover {
  color:white;
  background-color: var(--candyGreen-color);
}

.topItems {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.topItems input[type="text"] {
  background-color: var(--whiteGreen-color);
  border: none;
  height: 35px;
  width: 100%;
  outline: none;
  font-family: 'Raleway', sans-serif;
  font-size: 1.3rem;
}

.topItems textarea {
  background-color: var(--whiteGreen-color);
  font-family: 'Raleway', sans-serif;
  font-size: 1.3rem;
  resize: none;
  width: 97%;
  height: 70px;
  border: none;
  outline: none;
}

.close {
  align-self: flex-end;
  display: flex;
  height: 35px;
  width: 35px;
  color:var(--vinotintoNight-color);
  cursor: pointer;
  position: absolute;
}

.close:hover{
  color:var(--candyGreen-color);
}

.bottomItems input[type="date"] {
  color: var(--candyGreen-color);
  outline: 0;
  border: var(--candyGreen-color) 2px solid;
  padding: 3px;
  text-transform: uppercase;
  background-color: var(--whiteGreen-color);
}

.bottomItems input[type="date"]:hover {
  outline: 0;
  border: rgb(3, 211, 142) 2px solid;
  color: rgb(3, 211, 142);
}

@media (max-width: 500px) {
  .editDiv {
    width: 90%;
    z-index: 100;
  }

  .topItems input[type="text"] {
    height: 35px;
    width: 90%;
    font-size: 1rem;
  }

  .topItems textarea {
    font-size: 1rem;
    width: 100%;
    height: 70px;
    border: none;
    outline: none;
  }

  .dateInput {
    margin-top: 8px;
    display: flex;
    gap: 10px;
    font-size: .9rem;
  }

  .bottomItems {
    gap: 20px;
    padding-top: 0px;
    height: 55%;
  }

  .priorityInputs button {
    margin-left: 0px;
    font-size: .9rem;
    padding: 3px;
    cursor: pointer;
    font-weight: 500;
    width: 80%;
  }

  .priorityInputs {
    font-size: .9rem;
  }
}