.storageGrid {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  grid-template: 60px 1fr / 1fr;
  background: var(--whitePink-color);
  font-family: "Lato", sans-serif;
}

.storageGrid h1 {
  grid-row: 1 / 2;
  background: var(--candyPurple-color);
  color: white;
  font-size: 2.5rem;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Roboto Condensed", sans-serif;
  letter-spacing: 3px;
}

.storageBodyNoteGrid {
  width: 100%;
  height: 100%;
  grid-row: 2 / 3;
  padding: 15px 0 15px 15px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.storageBodyFileGrid {
  display: flex;
  position: absolute;
  bottom: 5%;
  background: var(--candyPurple-color);
  flex-direction: column;
  outline: 2px var(--candyGreen-color) solid;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  box-shadow: 1px 1px 20px 2px black;
  width: 50%;
  height: 30%;
  gap: 15px;
}

.storageBodyFileGrid ::-webkit-scrollbar {
  width: 5px;
}
.storageBodyFileGrid ::-webkit-scrollbar-track {
  background: var(--whiteGreen-color);
  border-radius: 5px;
}
.storageBodyFileGrid ::-webkit-scrollbar-thumb {
  background: var(--candyGreen-color);
  border-radius: 5px;
}
.storageBodyFileGrid h1 {
  font-size: 2rem;
  border-radius: 2rem;
  padding: 15px 15px 0 0;
  margin-left: 15px;
}

.storageBodyFileGrid h1 button {
  border: none;
  background: none;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  color: var(--candyGreen-color);
}

.storageBodyFileGrid h1 button:hover {
  color: var(--vinotintoNight-color);
}

.storageBodyFileGrid h1 button svg {
  height: 2rem;
  width: 2rem;
}

.storageBodyFileFlex {
  background: var(--candyPurple-color);
  padding: 15px;
  display: flex;
  width: 95%;
  height: 70%;
  flex-direction: column;
  gap: 20px;
  overflow-y: scroll auto;
  overflow-x: hidden;
}

.storageBodyFileFlex h1 {
  font-size: 1.5rem;
  text-decoration: underline;
  width: fit-content;
  height: fit-content;
  padding: 0;
}

.storageBodyFileFlex .file button {
  background: none;
  border: none;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: var(--candyGreen-color);
  outline: var(--candyGreen-color) 1px solid;
  transition: 200ms;
}

.storageBodyFileFlex .file button:hover {
  box-shadow: 1px 1px 5px 1px rgb(34, 34, 34);
  background-color: #6d2a4f;
}

.storageBodyFileFlex .file button svg {
  width: 1.4rem;
  height: 1.4rem;
  color: var(--candyGreen-color);
}

.storageBodyFileFlex p {
  font-size: 1rem;
}

.file {
  background-color: var(--vinotintoNight-color);
  color: white;
  display: flex;
  font-size: 1.3rem;
  padding: 10px;
  border-radius: 0.5rem;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 40px;
}

.embedGrid {
  display: grid;
  grid-template: 60px 1fr / 1fr;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}

.embedGrid h1 {
  grid-row: 1 / 2;
  width: 100%;
  background-color: var(--vinotintoNight-color);
  color: var(--candyGreen-color);
  text-decoration: none;
}

.embedFile {
  grid-row: 2 / 3;
  width: 100%;
  height: 100%;
}

.file h2 {
  color: var(--candyGreen-color);
}

.note {
  background: var(--candyGreen-color);
  color: white;
  width: fit-content;
  height: fit-content;
  padding: 1rem;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  gap: 5px;
  box-shadow: 1px 1px 3px 1px rgb(54, 54, 54);
}

.noteTitleDiv {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.noteTitleDiv button {
  padding: 0 auto;
  background: none;
  border: none;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
}

.noteTitleDiv button svg {
  width: 1.6rem;
  height: 1.6rem;
  color: rgb(9, 102, 1);
  transition: 300ms;
}

.noteTitleDiv button svg:hover {
  background-color: var(--candyPurple-color);
  border-radius: 50%;
  color: var(--candyGreen-color);
  transform: scale(1.2) rotate(360deg);
}

.noteTitleDiv h2 {
  letter-spacing: 1px;
  font-size: 1.3rem;
  color: var(--candyPurple-color);
  text-decoration: underline;
}

.filesDiv {
  display: flex;
  flex-direction: column;
  z-index: 999;
  bottom: 0;
  right: 0;
  position: absolute;
  background-color: purple;
  width: fit-content;
  height: fit-content;
  padding: 5px;
}

.addFileButton {
  width: fit-content;
  border: none;
  background: none;
  padding: 10px;
  background: var(--candyGreen-color);
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 1px 1px 10px 1px rgb(59, 59, 59);
}

.addFileButton:hover {
  background-color: var(--vinotintoNight-color);
  box-shadow: none;
}

.addFileButton svg {
  height: 1.5rem;
  width: 1.5rem;
  color: white;
}

.openFileStorage {
  display: flex;
  position: absolute;
  width: fit-content;
  height: fit-content;
  bottom: 15vh;
  left: 2rem;
  cursor: pointer;
  border: var(--candyGreen-color) 8px solid;
  border-radius: 50%;
  padding: 20px;
  color: var(--candyGreen-color);
  background-color: var(--candyPurple-color);
  box-shadow: 1px 1px 10px 1px black;
  transition: 150ms;
}

.openFileStorage:hover {
  background-color: var(--vinotintoNight-color);
  border-color: white;
  color: white;
  border-width: 3px;
}

.openFileStorage svg {
  height: 5rem;
  width: 5rem;
}

.openAddNoteForm {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: fit-content;
  height: fit-content;
  bottom: 15vh;
  right: 2rem;
  background: none;
  cursor: pointer;
  border: var(--candyPurple-color) 8px solid;
  border-radius: 50%;
  padding: 20px;
  background-color: var(--candyGreen-color);
  box-shadow: 1px 1px 10px 1px black;
  transition: 150ms;
  color: var(--candyPurple-color);
}

.openAddNoteForm svg {
  height: 5rem;
  width: 5rem;
}

.openAddNoteForm:hover {
  background-color: var(--vinotintoNight-color);
  border-color: white;
  color: white;
  border-width: 3px;
}
