.storage {
  display: flex;
  width: fit-content;
  cursor: pointer;
  font-family: "Roboto Condensed", sans-serif;
  background-position: center;
  position: relative;
  margin-top: 1vh;
  margin-left: 1vw;
}

.storage button {
  align-self: flex-end;
  background: none;
  border: none;
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 1vw;
  left: 3vw;
  cursor: pointer;
}

.storage svg {
  height: 1.3rem;
  width: 1.3rem;
  color: rgb(1, 102, 72);
  transition: 300ms;
}

.storage svg:hover {
  background-color: var(--candyPurple-color);
  border-radius: 50%;
  color: var(--candyGreen-color);
  transform: scale(1.2) rotate(360deg);
}

.storageDiv {
  display: flex;
  font-size: 1.4rem;
  color: var(--candyPurple-color);
  border-bottom: var(--candyPurple-color) 2px dashed;
}

@media (max-width: 500px) {
  .storage button {
    top: 2rem;
    left: 0.5rem;
  }
}
