.storageGrid {
  display: grid;
  gap: 10px;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  overflow-y: scroll auto;
  overflow-x: hidden;
}

.storageGrid li {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../../assets/images/greenFolder.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 18vw;
  height: 18vh;
  transition: 200ms;
}

.storageGrid li:hover {
  transform: scale(1.05);
}

@media (max-width: 500px) {
  .storageGrid {
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
  }

  .storageGrid li {
    width: 8.5rem;
    height: 10rem;
  }
}
