.todoSection {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template: 70px 1fr / 325px 1fr;
  overflow: hidden;
}

@media (max-width: 500px) {
  .todoSection {
    grid-template: 70px 1fr / 1fr;
  }
}
