.todoDiv {
  display: inline-flex;
  justify-content: space-between;
  gap: 50px;
  height: 45px;
  align-items: center;
  transition: 200ms;
  background-color: var(--whitePink-color);
  font-size: 1.2rem;
  vertical-align: middle;
  font-family: 'Raleway', sans-serif;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.todoDiv:hover{
  box-shadow: rgba(14, 13, 13, 0.356) 2px 2px 3px 1px;
  z-index: 2;
}

.editButton, .deleteButton {
  background: none;
  border: none;
}

.todoDiv svg {
  color:rgb(105, 41, 76);
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: 200ms;
}

.todoDiv svg:hover {
  color: var(--candyGreen-color);
}

.details {
  border: var(--candyGreen-color) 1px solid;
  border-radius: 2px;
  color: var(--candyGreen-color);
  font-size: .8rem;
  padding: 5px;
  transition: 200ms;
  cursor: pointer;
}

.details:hover {
  color:white;
  background-color: var(--candyGreen-color);
}

.leftItems {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 3700px;
}

.rightItems {
  display: flex;
  gap: 5px;
  width: 300px;
  align-items: center;
}

.dueDate {
  width: 130px;
  font-size: .9rem;
  display: flex;
  justify-content: center;
}

@media (max-width: 500px) {
  .todoDiv  {
    font-size: .8rem;
    gap: 10px;
    height: max(fit-content, 45px);
  }

  .details {
    font-size: .6rem;
    padding: 5px;
    margin-right: 5px;
    width: 45px;
  }

  .dueDate {
    width: 65px;
    font-size: .7rem;
    align-items: center;
  }

  .leftItems {
    gap: 10px;
    width: 100%;
  }

  .rightItems {
    gap: 10px;
    width: 300px;

  }

  .todoDiv svg {
    width: 15px;
    height: 15px;
  }

  .title {
    width: 72%;
  }

  .todoDiv button {
    padding: 0;
  }
}