::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #f390c7;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background: #a32d6e;
  border-radius: 5px;
}

input[type="date"] {
  color: rgb(2, 179, 120);
  background-color: #FFFFFF;
  outline: 0;
  border: rgb(2, 179, 120) 2px solid;
  padding: 3px;
  text-transform: uppercase;
}

input[type="date"]:hover {
  outline: 0;
  border: rgb(3, 211, 142) 2px solid;
  color: rgb(3, 211, 142);
}

input[type="checkbox"] {
  transform: scale(1.2);
  background: green;
}



